<ul>
  <li><%= @admin.email %></li>
  <li><%= @admin.sign_in_count %></li>
  <li><%= @admin.last_sign_in_at %></li>
  <li><%= @admin.current_sign_in_ip %></li>
  <li><%= @admin.last_sign_in_ip %></li>
</ul>
